.container {
  max-width: 360px;
  padding: 16px 16px 31px 16px;
  margin-right: auto;
  margin-left: auto;
  @media (min-width: 768px) {
    max-width: none;
    padding: 48px 56px 56px 56px;
    margin-right: initial;
    margin-left: initial;
  }
}

.innerContainer {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    flex-direction: row;
    gap: 56px;
  }
}

.left {
  flex-basis: 50%;
  order: 2;
  padding-top: 24px;
  @media (min-width: 768px) {
    flex-basis: calc(50% - 28px);
    order: 1;
    padding-top: 0;
  }
}

.right {
  order: 1;
  @media (min-width: 768px) {
    flex-basis: calc(50% - 28px);
    order: 2;
  }
}

.mobileButtons {
  display: flex;
  flex-direction: row;
  align-items: center;
  button {
    max-width: fit-content;
    &:nth-of-type(2) {
      margin-top: 0;
      margin-left: 16px;
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
}

.borderContainer {
  margin-top: 61px;
  border: 1px solid var(--color-cards-border);
  border-radius: 4px;
}
.imageCropContainer {
  padding: 32px 24px;
}

.hide {
  display: none;
}
