.container {
  @media (min-width: 768px) {
    display: flex;
    gap: 56px;
  }
}

.left {
  @media (min-width: 768px) {
    flex-basis: calc(50% - 28px);
  }
}

.right {
  display: none;
  @media (min-width: 768px) {
    display: block;
    flex-basis: calc(50% - 28px);
    padding-top: 8px;
  }
}

.graph {
  @media (min-width: 768px) {
    width: 100%;
    max-width: 100%;
  }
}
