.appleLogo,
.googlePlayLogo {
  display: flex;
  align-items: center;

  width: 160px;
  height: 46px;
  background: #000;
  border-radius: 4px;
  @media (min-width: 768px) {
    width: 105px;
    height: 30px;
  }
}

.appleLogo {
  padding-bottom: 2px;
  padding-left: 14px;
  @media (min-width: 768px) {
    padding-left: 9px;
  }

  @media (hover) {
    &:hover {
      background: #fff;
      path {
        fill: #000;
      }
    }
  }
}

.googlePlayLogo {
  padding-left: 11px;
  @media (min-width: 768px) {
    padding-left: 7px;
  }
  @media (hover) {
    &:hover {
      background: #fff;
      div {
        path {
          fill: #000;
        }
      }
    }
  }
}

.appleSvg {
  flex-shrink: 0;
  width: 25px;
  height: auto;
  @media (min-width: 768px) {
    width: 17px;
  }
}

.googleSvg {
  flex-shrink: 0;
  width: 27px;
  height: auto;
  @media (min-width: 768px) {
    width: 18px;
  }
}

.appleUpperSvg {
  width: 90px;
  height: auto;
  margin-top: 6px;
  @media (min-width: 768px) {
    width: 59px;
    margin-top: 4px;
  }
}

.googleUpperSvg {
  width: 46px;
  height: auto;
  margin-top: 8px;
  @media (min-width: 768px) {
    width: 30px;
    margin-top: 5px;
  }
}

.appleTextContainer,
.googleTextContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.appleTextContainer {
  margin-left: 11px;
  @media (min-width: 768px) {
    margin-left: 7px;
  }
}

.googleTextContainer {
  margin-left: 11px;
  @media (min-width: 768px) {
    margin-left: 8px;
  }
}

.appleTextIcon {
  width: 96px;
  height: auto;
  margin-top: 5px;
  transform: translateX(-1px);
  @media (min-width: 768px) {
    width: 64px;
    margin-top: 3px;
  }
}

.googleTextIcon {
  width: 102px;
  height: auto;
  margin-top: 4px;
  transform: translateX(-2px);
  @media (min-width: 768px) {
    width: 68px;
    margin-top: 2px;
  }
}
