.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 16px 16px 17px 16px;
  font-family: var(--text-font-family-secondary);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  color: var(--color-secondary);
  text-align: left;
  letter-spacing: 0em;
  cursor: pointer;
  background: #fff;
  border: none;

  &:not(:last-of-type) {
    position: relative;
    &:after {
      position: absolute;
      bottom: 0;
      left: 16px;
      width: calc(100% - 32px);
      height: 1px;
      content: '';
      background: var(--color-cards-border);
    }
  }
}

.text {
  flex: 1;
}
