.titleContainer {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}



.buttonContainer {
  min-width: 214px;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  @media(min-width:768px ){
    margin-left: initial;
    min-width: 190px
  }
}

.inputContainer {
  margin-top: 11px;
}

.formContainer{
  padding-top: 7px;
  padding-bottom: 12px;
  @media(min-width:768px ){
    padding-top: 31px;
    padding-bottom: 0;
  }
}
