.container {
  border-top: 1px solid var(--color-secondary);
}

.rootAccordion {
  background: none;
  border-bottom: 1px solid var(--color-secondary);
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}

.rootAccordionSummary {
  flex-direction: row;

  padding: 12px 7px 11px 0;
  font-family: var(--text-font-family-secondary);
  font-size: 14px;
  line-height: 28px;
  color: var(--color-light-text);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.rootAccordionSummaryContent {
  padding-right: 20px;
  margin: 0;
}

.expandedAccordionSummary {
  &.MuiAccordionSummary-expandIconWrapper {
    transform: rotate(180deg);
  }
}
